<div class="row">
  <div class="col-xs-2 col-xs-offset-1">
    <%= render "publics/items/genre_search", genres: @genres,items: @items %>
  </div>
  <div class="top-main col-xs-8">
    <p class="top-text">
	    ようこそ、ながのCakeへ！<br>
	    このサイトは、ケーキ販売のECサイトになります。<br>
	    会員でない方も商品の閲覧はできますが、<br>
	    購入には会員登録が必要になります。
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="pick-up text-center">
      <h3>オススメ商品</h3>
    </div>
    <div>
      <% @items.each do |item| %>
        <div class="col-xs-3">
          <%= link_to item_path(item) do %>
          <%= attachment_image_tag item, :image, :fill, 150, 100 %>
          <% end %>
        <p><strong><%= item.name %></strong></p>
        <p><strong>￥<%= tax(item.non_taxed_price).to_s(:delimited) %></strong></p>
        </div>
      <% end %>
    </div>
    <div class="pull-right">
      <%= link_to 'もっと見る>', items_path %>
    </div>
  </div>
</div>