  <div class="row">
    <div class="genre-search col-xs-2">
      <%= render "publics/items/genre_search", genres: @genres,items: @items %>
    </div>
    <div class="top-image col-xs-9">
      <div id="skippr-slider">
        <div style="background-image: url(flower.jpg)">
          <div class="top-text">
            <p>
              ようこそ、ながのCakeへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
        <div style="background-image: url(flower.jpg)">
          <div class="top-text">
            <p>
              ようこそ、ながのCakeへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
        <div style="background-image: url(flower.jpg)">
          <div class="top-text">
            <p>
              ようこそ、ながのCakeへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
      </div>
      <script src="./js/skippr.js" type="text/javascript"></script>
      <script>
        $(document).ready(function(){
          $("#skippr-slider").skippr({
            transition: 'fade',
            navType : 'block',
            arrows : false,
            autoPlay: true,
            autoPlayDuration : 3000,
          });
        });
      </script>
    </div>
  </div>
  <div class="pick-up-box row">
    <div class="pick-up col-xs-9 col-xs-offset-2">
      <h2 class="pick-up-title">オススメ商品</h2>
      <div>
        <% @items.each do |item| %>
          <div class="pick-up-item col-xs-3">
            <%= link_to item_path(item) do %>
            <%= attachment_image_tag item, :image, :fill, 200, 120 %>
            <% end %>
          <p>
            <%= item.name %><br>
            ￥<%= tax(item.non_taxed_price).to_s(:delimited) %>
          </p>
          </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to 'もっと見る>', items_path %>
      </div>
    </div>
  </div>
</div>