<div class="row">
  <div class="col-xs-3">
    <%= render "genre_search", genres:@genres, items: @items %>
  </div>
  <div class="col-xs-3">
    <%= attachment_image_tag @item, :image, :fill, 200, 150 %>
  </div>
  <div class="col-xs-4">
    <h3><%= @item.name %></h3>
    <p><%= @item.explanation %></p>
    ¥<%= tax(@item.non_taxed_price) %>（税込）
    <%= form_for(@cart, url: carts_path) do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.select :item_count, options_for_select((1..9).to_a), include_blank: "個数選択" %>
      <%= f.submit "カートに入れる", class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>