<h2>会員の方はこちらからログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="">
  <%= f.label :"メールアドレス", class: "" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "" %>
</div>

<div class="">
  <%= f.label :"パスワード", class: "" %>
  <%= f.password_field :password, autocomplete: "current-password", class: "" %>
</div>

  <div class="">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "publics/shared/links" %>
