  <h2>登録情報編集</h2>

    <%= form_with(@public, url:publics_path, local: true ,method: :patch) do |f| %>

      <div class="">
        <%= f.label :"名前", class: "" %>
        <%= f.label :"(姓)", class: "" %>
        <%= f.text_field :last_name, class: "" %>
        <%= f.label :"(名)", class: "" %>
        <%= f.text_field :first_name, class: "" %>
      </div>

      <div class="">
        <%= f.label :"フリガナ", class: "" %>
        <%= f.label :"(セイ)", class: "" %>
        <%= f.text_field :last_name_kana, class: "" %>
        <%= f.label :"(メイ)", class: "" %>
        <%= f.text_field :first_name_kana, class: "" %>
      </div>

      <div class="">
        <%= f.label :"メールアドレス", class: "" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="">
        <%= f.label :"郵便番号", class: "" %>
        <%= f.text_field :postcode, class: "" %>
      </div>

      <div class="">
        <%= f.label :"住所", class: "" %>
        <%= f.text_field :address, class: ""  %>
      </div>

      <div class="">
        <%= f.label :"電話番号", class: "" %>
        <%= f.text_field :tel, class: "" %>
      </div>

      <div class="">
        <%= f.submit "編集内容を保存する", class: "" %>
        <%= link_to "退会する", edit_publics_path, class: ""%>
      </div>
    <% end %>