	<h2>マイページ</h2>
	<h3>登録情報</h3>
			<%= link_to " 編集する", edit_publics_path, class: "" %>
			<%= link_to " パスワードを変更する", edit_public_password_path, class: "" %>

			<table class="table" >
				<tbody>
					<tr>
						<td>氏名</td>
						<td><%#= name(@public) %></td>
					</tr>
					<tr>
						<td>カナ</td>
						<td><%#= kana_name(@public) %></td>
					</tr>
					<tr>
						<td>郵便番号</td>
						<td><%= @public.postcode %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= @public.address %></td>
					</tr>
					<tr>
						<td>電話番号</td>
						<td><%= @public.tel %></td>
					</tr>
					<tr>
						<td>メールアドレス</td>
						<td><%= @public.email %></td>
					</tr>
				</tbody>
			</table>

			<div class="">
				<h3>配送先</h3>
					<%= link_to " 一覧を見る", shippings_path, class:"" %>
				<h3>注文履歴</h3>
					<%= link_to " 一覧を見る", orders_path, class: ""%>
			</div>