	<div class = "row">
	<div class="mypage col-xs-offset-1 col-xs-8">
	<h2 class="page-title">マイページ</h2>
	
			<span class="page-sub-title">登録情報</span>
			  <span class="mypage-btn"><%= link_to " 編集する", edit_publics_path, class: "glyphicon btn btn-success" %></span>
			  <span class=""><%= link_to " パスワードを変更する", edit_public_registration_path, class: "glyphicon btn btn-warning" %></span>

			<table class="table table-bordered" >
				<tbody>
					<tr>
						<td>氏名</td>
						<td><%= @public.last_name %> <%= @public.first_name %></td>
					</tr>
					<tr>
						<td>カナ</td>
						<td><%= @public.last_name_kana %> <%= @public.first_name_kana %></td>
					</tr>
					<tr>
						<td>郵便番号</td>
						<td><%= @public.postcode %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= @public.address %></td>
					</tr>
					<tr>
						<td>電話番号</td>
						<td><%= @public.tel %></td>
					</tr>
					<tr>
						<td>メールアドレス</td>
						<td><%= @public.email %></td>
					</tr>
				</tbody>
			</table>

				<span class="page-sub-title">配送先　
				  <%= link_to " 一覧を見る", shippings_path, class:"shiplook glyphicon btn btn-info" %></span>
				<br><br>
				<span class="page-sub-title">注文履歴
				  <%= link_to " 一覧を見る", orders_path, class:"shiplook glyphicon btn btn-info" %></span>
	</div>
	</div>