<h2>会員の方はこちらからログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>  

<div class="">
  <%= f.label :"メールアドレス", class: "" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "" %>
</div>

<div class="">
  <%= f.label :"パスワード", class: "" %>
  <%= f.password_field :password, autocomplete: "current-password", class: "" %>
</div>

  <div class="">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "publics/devise/shared/links" %>押してもエラーです
