<div>
  ¥<%= tax(@item.non_taxed_price) %>（税込）
  <%= form_for(@cart, url: carts_path) do |f| %>
    <%= f.hidden_field :public_id, :value => @public.id %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :item_count, options_for_select((1..9).to_a), include_blank: "個数選択" %>
    <%= f.submit "カートに入れる" %>
  <% end %>
</div>
</div>