<div class="edit-shipping">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-6">
        <br><div class="headline"><h2>配送先編集</h2></div>
      </div>
    </div>
  </div>

  <% if @shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= @shipping.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <% @shipping.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <table>
    	<%= form_for(@shipping) do |f| %>
          <div lass="edit-shipping-list">
          	<span class="edit-shipping-title"><%= f.label :postcode, "郵便番号(ハイフンなし)" %></span>
		        <span class="edit-shipping"><%= f.text_field :postcode %></span>
		      </div>

          <div class="edit-shipping-list">
		        <span class="edit-shipping-title"><%= f.label :address, "住所" %></span>
		        <span class="edit-shipping-item"><%= f.text_field :address, :size => 60 %></span>
		      </div>

		      <div class="edit-shipping-list">
		        <span class="edit-shipping-title"><%= f.label :name, "宛名" %></span>
		        <span class="edit-shipping-item"><%= f.text_field :name %></span>
		        <span class="edit-shipping-box"><%= f.submit '編集する',class:"btn btn-primary" %></span>
		      </div>
	    <% end %>
	</table>
</div>


