<h2>配送先編集</h2>
<% if @shippings.errors.any? %>
  <div id="error_explanation">
  	<h3><%= pluralize(@shippings.errors.count, "error") %>prohibited this obj from being saved:</h3>
  	  <ul>
  	  	<% @shippings.errors.full_messages.each do |message| %>
  	  	  <li><%= message %></li>
  	  	<% end %>
  	  </ul>
  </div>
<% end %>

    <table>
    	<%= form_for(@shipping) do |f| %>
          <tr>
          	<td><%= f.label :postcode, "郵便番号(ハイフンなし)" %></td>
		    <td><%= f.text_field :postcode %></td>
		</tr>

        <tr>
		    <td><%= f.label :address, "住所" %></td>
		    <td><%= f.text_field :address, :size => 60 %></td>
		</tr>

		<tr>
		    <td><%= f.label :name, "宛名" %></td>
		    <td><%= f.text_field :name %></td>
		    <td><%= f.submit '編集',class:"btn btn-primary" %></td>
		</tr>
	    <% end %>
	</table>


