<div class="row">
  <div class="col-sm-offset-1 col-sm-6">
    <h2 class="page-title">配送先編集</h2>

   <% if @shipping.errors.any? %>
    <div>
      <h4><%= @shipping.errors.count %>件のエラーが発生しました。</h4>
      <ul>
      <% @shipping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    	<%= form_for(@shipping) do |f| %>
          <div lass="edit-shipping-list">
          	<span class="edit-shipping-title"><%= f.label :postcode, "郵便番号(ハイフンなし)" %></span>
		        <span class="edit-shipping"><%= f.text_field :postcode %></span>
		      </div>

          <div class="edit-shipping-list">
		        <span class="edit-shipping-title"><%= f.label :address, "住所" %></span>
		        <span class="edit-shipping-item"><%= f.text_field :address, :size => 60 %></span>
		      </div>

		      <div class="edit-shipping-list">
		        <span class="edit-shipping-title"><%= f.label :name, "宛名" %></span>
		        <span class="edit-shipping-item"><%= f.text_field :name %></span>
		        <span class="edit-shipping-box"><%= f.submit '編集する',class:"btn btn-primary" %></span>
		      </div>
	    <% end %>
</div>

