<div class="row">
  <div class="col-sm-offset-1 col-sm-6">
    <h2 class="page-title">配送先編集</h2>

  <% if @shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= @shipping.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <% @shipping.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    	<%= form_for(@shipping) do |f| %>
        <div>
          <span><%= f.label :postcode, "郵便番号(ハイフンなし)" %></span>
		      <span><%= f.text_field :postcode %></span>
		    </div>

        <div>
		      <span><%= f.label :address, "住所" %></span>
		      <span><%= f.text_field :address, :size => 50 %></span>
		    </div>

		    <div>
  		    <span><%= f.label :name, "宛名" %></span>
  		    <span><%= f.text_field :name %></span>
        </div>

        <div>
  		    <span><%= f.submit '編集する',class:"btn btn-primary" %></span>
		    </div>
	    <% end %>
  </div>
</div>


