
<h1>会員一覧</h1>
<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @publics.each do |public| %>
    <tr>
      <td><%= public.id %></td>
      <td>
        <%= link_to admins_public_path(public) do %>
          <%= public.last_name %>
          <%= public.first_name %>
        <% end %>
      </td>
      <td><%= public.email %></td>
      <td>
        <% if public.is_deleted == false %>
          有効
        <% else %>
          退会済
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @publics %>

