<h1>
  <%= @public.first_name %>
  <%= @public.last_name %>
  さんの会員詳細
</h1>

<table>
  <tr>
  	<td>顧客ID</td>
  	<td>
  		<%= @public.id %>
  		<% if public.is_deleted == false %>
  	  	  有効会員
  	  	<% else %>
  	  	  退会済み会員
  	  	<% end %>
  	</td>
  </tr>
  <tr>
  	<td>氏名</td>
  	<td><%= @public.first_name %> <%= @public.last_name %></td>
  </tr>
  <tr>
  	<td>フリガナ</td>
  	<td><%= @public.first_name_kana %> <%= @public.last_name_kana %></td>
  </tr>
  <tr>
  	<td>郵便番号</td>
  	<td><%= @public.postcode %></td>
  </tr>
  <tr>
  	<td>住所</td>
  	<td><%= @public.adress %></td>
  </tr>
  <tr>
  	<td>電話番号</td>
  	<td><%= @public.tel %></td>
  </tr>
  <tr>
  	<td>メ