<div class="row">
  <div class="col-xs-5 col-xs-offset-2">
  	<h1 class="page-title">注文履歴一覧</h1>
  </div>
</div>
<div class="row">
 <div class="col-xs-7 col-xs-offset-2">
	  <table class="table">
	  	<thead>
		  <tr class="active">
			<th>購入履歴</th>
			<th>購入者</th>
			<th>注文個数</th>
			<th>注文ステータス</th>
		  </tr>
	  	</thead>
	  	<tbody>
	  	  <% @orders.each do |order| %>
	  	    <tr>
	  	      <td class="btn-hover">
	  	      	<%= link_to admins_order_path(order),class: "border" do %>
	  	      	  <%= l order.created_at %></td>
	  	      	<% end %>
	  	      <td><%= order.public.last_name %> <%= order.public.first_name %></td>
	  	      <td><%= items_count(order.order_items) %></td>
	  	      <td><%= order.status %></td>
	  	    </tr>
	  	  <% end %>
	  	</tbody>
	  </table>
	</div>
  </div>
<%= paginate @orders %>