
<li class="publis_name">ようこそ、<%= current_public.last_name %> <%= current_public.first_name %>さん！</li>

<li class="">
<%= link_to 'マイページ', publics_path %>
</li>

<li class="">
<%= link_to '商品一覧', items_path %>
</li>

<li class="">
<%= link_to 'カート', carts_path %>
</li>

<li class="">
<%= link_to 'ログアウト', destroy_public_session_path, method: :delete %>
</li>

