<li class="">
  <%= link_to '商品一覧', admins_items_path %>
</li>

<li class="">
  <%= link_to '会員一覧', admins_publics_path %>
</li>

<li class="">
  <%= link_to '注文履歴一覧', admins_orders_path %>
</li>

<li class="">
  <%= link_to 'ジャンル一覧', admins_genres_path %>
</li>

<li class="">
  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
</li>

<div class="text-right">
  <%= form_tag(admins_search_path, method: :get) do %>
    <%= text_field_tag 'search[content]', '', placeholder: "Search" %>
  <% end %>
</div>