<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <haeder class="header">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>ながのCAKE</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if public_signed_in? %>
              <%= render "layouts/header_login" %>
              <% if admin_signed_in? %>
                <%= render "layouts/header_admin" %>
              <% end %>
            <% else %>
              <%= render "layouts/header_no_login" %>
            <% end %>
          </ul>
        </nav>
      </div>
    </haeder>
    <%= yield %>
  </body>
</html>

