<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container header">

        <haeder class="navbar">
          <nav class="nav navbar-nav navbar-left">
            <%= link_to image_tag root_path do %>
              <%= image_tag "ho-ruke-ki.jpg", :size =>'200x55' %>
            <% end %>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if public_signed_in? %>
                <%= render "layouts/header_login" %>
              <% else %>
                <% if admin_signed_in? %>
                  <%= render "layouts/header_admin" %>
                <% else %>
                  <%= render "layouts/header_no_login" %>
                <% end %>
              <% end %>
            </ul>
          </nav>
        </haeder>
    </div>
    <div class="container main">
      <%= yield %>
    </div>
    </div>
    <div class="container">
      <footer class="row footer"></footer>
  </div>
  </body>
</html>

